<?xml version="1.0" encoding="UTF-8"?>
<config>
<server>https://raw.githubusercontent.com/Asafusa/MultiLaunchServer/main/server.xml</server>
<AelysLauncher>https://raw.githubusercontent.com/Asafusa/MultiLaunchServer/main/aelys.xml</AelysLauncher>
<!-- yes = activé - no = désactivé -->
<devmode>no</devmode>
<select>https://raw.githubusercontent.com/Asafusa/MultiLaunchServer/main/selections.xml</select>
<hoka>https://raw.githubusercontent.com/Asafusa/MultiLaunchServer/main/hoka.xml</hoka>
<apykey>https://play-aelys.eu/public/download/hoka/apy/KeyHokaLaunch.php</apykey>
<apytrad>https://play-aelys.eu/public/download/hoka/apy/HokaTraductionLaunch.php</apytrad>
<assets>https://raw.githubusercontent.com/Asafusa/MultiLaunchServer/main/assets.xml</assets>
<theme>https://raw.githubusercontent.com/Asafusa/MultiLaunchServer/main/theme.xml</theme>
</config>
